body {
  padding: 30pt;
}

.versioning {
  float: right;
  padding: 10pt 0 10pt 0;
}

#lblVersion {
  float: right;
  margin-right: 5pt;
}

#file-input {
  display: none;
}

.separator {
  margin-top: 10pt;
  margin-bottom: 10pt;
}

.dictionary-entry > a {  
  float: right;
}

nav {
  margin-top: 5t;
  margin-bottom: 5pt;
}

#btnAll {
  margin-bottom: 2pt;
}

button[data-role='all'] {
  background-color: rgba(129,140,248) !important;
  border-color: transparent !important;
}

button[data-role='necessary'] {
  background-color: rgba(156,163,175) !important;
  border-color: transparent !important;
}